:root {
    /*colors primary*/
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --footer-container-color: #90d4c5;
    /*colors neutral*/
    --very-dark-desatured-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --just-white: #fff;
    /*typography*/
    --font-size: 1.8rem;
    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

html {
    font-size: 18px;
    width: 100%;
    min-width: 375px;
    font-family: var(--font-barlow);
}

body {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-fraunces);
    font-weight:900;
}

h2 {
    font-size:1.8rem;
}

h3 {
    font-size:1.6rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8rem;
}

::-webkit-scrollbar {
    display: none;
}

.header-container {
    background-color: var(--dark-moderate-cyan);
    background-image: url('./images/mobile/image-header.jpg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:560px; 
}

.nav-container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:30px 20px;
    position:relative;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu {
    display:block;
    width:25px;
    height:25px;
    background-image: url('./images/icon-hamburger.svg');
    background-size:inherit;
    background-repeat:no-repeat;
    background-position:center;
    cursor: pointer;
    opacity: 100%;
    transform: rotate(0deg);
    transition: 250ms;
}

.mobile-menu {
    display: none;
    width:100%;
    padding:0 20px;
    position:absolute;
    top: 108px;
    left: 0px;
    /* animation-name:fade;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in; */
    animation: fade 250ms forwards ease-in;
}

.mobile-menu__container {
    min-width: 335px;
    width:100%;
    height:335px;
    background-color: var(--just-white);
}

.mobile-menu__container::before {
    position: absolute;
    top: -24px;
    right: 20px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    content: '';
    width: 25px;
    height: 25px;
    background-color: var(--just-white);
}

.mobile-links-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width:100%;
    height:100%;
    padding: 20px;
    list-style-type: none;
}

.mobile-links-container a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    cursor: pointer;
    font-size:1.2rem;
}

.mobile-links-container a:hover {
    color: var(--dark-blue);
}

.contact-style {
    height:60px;
    width:150px;
    padding: 20px;
    text-align: center;
    color: var(--very-dark-desatured-blue);
    background-color:var(--yellow);
    font-family: var(--font-fraunces);
    text-transform: uppercase;
    border-radius: 30px 30px 30px 30px;
    font-size:1rem;
}

.contact-style:hover {
    background-color: hsla(168, 73%, 38%, 0.555); 
}

.hero-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;    
}

.hero-container h1 {
    padding:40px 20px;
    font-family: var(--font-fraunces);
    font-size:2.4rem;
    margin:30px 0 10px 0;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:5px;
    color: var(--just-white);
}

.detail__img-container {
    height: 320px;
    width:100%;
}

.detail__img-container img {
    height:100%;
    width:100%;
    object-fit: fill;
}

.detail__text-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:440px;
    width:100%;
    text-align:center;
    padding:20px;
    margin: auto;
}

.detail__text-box h2 {
    color:var(--very-dark-desatured-blue);
    font-family: var(--font-fraunces);
    margin:25px;
}

.detail__text-box p {
    color: var(--dark-grayish-blue);
    font-family: var(--font-barlow);
    line-height: 1.8rem;
    margin-bottom:25px;   
}

.detail__text-box a {
    color:var(--very-dark-desatured-blue);
    font-family: var(--font-fraunces);
    font-weight:900;
    font-size:0.9rem;
    text-decoration:none; 
    overflow: hidden;   
}

.detail:first-child .detail__text-box a::after {
    display:block;
    content: "";
    height:8px;
    width:126px;
    border-radius:4px;
    background-color:var(--yellow);
    opacity:40%;
    position:relative;
    top:-8px;
    left:calc(50% - 63px);
    z-index:-1;
}

.detail:last-child .detail__text-box a::after { 
    background-color:var(--soft-red);
    display:block;
    content: "";
    height:8px;
    width:126px;
    border-radius:4px;
    opacity:40%;
    position:relative;
    top:-8px;
    left:calc(50% - 63px);
    z-index:-1;
}

.service {
    height:600px;
    width:100%;
    background-size: cover;
    background-position:center;
    position: relative;   
}

.service.service--design {
    background-image: url('images/mobile/image-graphic-design.jpg');
    color: var(--dark-desaturated-cyan);
    background-size: fill;
}


.service.service--photography {
    background-image: url('images/mobile/image-photography.jpg');
    color:var(--dark-blue);
    background-size: fill;
}

.service__text-box {
    position:absolute;
    bottom:0;
    left:calc(50% - 200px);
    padding:60px 20px;
    text-align: center;
    max-width: 400px;
}

.service__text-box p {
    font-size:0.9rem;
    line-height:1.6rem;
    margin-top:30px;
}

.testimonials-container {
    text-align: center;
    height: auto;
    padding: 40px 10px;
}

.testimonials-container > h4 {
    color:var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding:30px 0;
}

.testimonial {
    margin:35px 0;
}

.testimonial__img-container {
    height: 70px;
    width:70px;
    border-radius: 50%;
    overflow:hidden;
    margin: 0 auto;
}

.testimonial__img-container img {
    height:100%;
    width:100%;
    object-fit:cover;
}

.testimonial__text-box {
    text-align: center;
    padding: 25px;
}

.testimonial__text-box p {
    line-height: 1.8rem;
    color: var(--very-dark-grayish-blue);
}

.testimonial__text-box h4 {
    color: var(--very-dark-desatured-blue);
    margin-top: 20px;
    padding: 20px 0 10px 0;
}

.testimonial__text-box span {
    color: var(--grayish-blue);
    font-size:0.8rem;
}

.galery-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    max-width: 750px;
    min-height: 375px;
    max-height: 750px;
}

.galery-grid__item {
    height:100%;
    width:100%;
    background-color: red;
    background-position:center;
    background-size:cover;
}

.galery-grid__item:nth-child(1) {
    background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
}

.galery-grid__item:nth-child(2) {
    background-image: url('./images/mobile/image-gallery-orange.jpg');
}

.galery-grid__item:nth-child(3) {
    background-image: url('./images/mobile/image-gallery-cone.jpg');
}

.galery-grid__item:nth-child(4) {
    background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
}

.footer-container {
    height: 320px;
    background-color: var(--footer-container-color);
}

.footer-container__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container__logo-container img {
    width: 150px;
    margin-top: 50px;
}

.footer-container__text-box{
    display: flex;
    justify-content: space-around;
    font-size: 1.0rem;
    margin-top: 40px;
    padding: 0px 15px;
    list-style-type: none;
}

.footer-container__text-box a {
    text-decoration: none;
    color: var(--dark-moderate-cyan);
}

.footer-container__text-box a:hover{
    color: var(--just-white);
}

.footer-container__social-networks {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    list-style-type: none;
}

.footer-container__social-networks li{
    margin: 0px 15px;
}

.footer-container__social-networks li:hover svg path {
    fill: #fff;
}

.attribution { 
    position: absolute;
    font-size: 13px; 
    text-align: center; 
    top: 99%;
    width: 100%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*media para tablet*/
@media only screen and (min-width: 640px) {

    .header-container {
        height: 100vh
    }

    .header-container h1 {
        font-size: 3.0rem;
        margin: 60px 0 10px 0;
    }

    .detail__text-box{
        max-width:600px;
    }

    .service.service--design {
        background-image: url('images/desktop/image-graphic-design.jpg');
    }
    
    .service.service--photography {
        background-image: url('images/desktop/image-photography.jpg');
    }

    .galery-grid-container {
        height:540px;
    }

}

/*media para tablet 2*/
@media only screen and (min-width: 768px) {

    .galery-grid-container {
        height: 724px;
        width: 100%;
        max-width: none;
    }

}


/*media para escritorio*/
@media only screen and (min-width: 820px) {

    .hero-container h1{
        display:flex;
        margin: 30px 0 10px 0;
    }

    h1 p {
        font-size:3rem;
        letter-spacing:8px;
    }

    h1 p:first-child::after {
        content:" ";
        white-space: pre; /*Deja un espacio en blanco*/
    }

    .header-container{
        height:724px;
        background-image: url('./images/desktop/image-header.jpg');
    }

    .logo-container img {
        width: 200px;
        padding-left: 20px;
    }

    .icon-menu{
        display:none;
    }

    .mobile-menu {
        display:block !important;
        animation:none;
        width:auto;
        padding:0;
        position:inherit;
        top:inherit;
        left:inherit;
    }

    .mobile-menu__container{
        height:auto;
        background-color:transparent;
    }
    
    .mobile-menu__container::before{
        display:none;
    }

    .mobile-links-container {
        flex-direction:row;
    }

    .mobile-links-container a {
        color:var(--just-white);
        font-size:1rem;
    }

    .mobile-links-container li {
        margin-left:40px;
    }

    .contact-style {
        background-color: var(--just-white)
    }

    .contact-style:hover {
        color: var(--just-white);
        background-color: hsla(168, 70%, 77%, 0.555); /*TODO ARREGLAR ESTO*/
    }

    .detail {
        display: flex;
        width:100%;
    }

    .detail:first-child{
        flex-direction: row-reverse;
    }

    .detail__img-container {
        height: auto;
        width:50%;
    }

    .detail__text-box {
        align-items:start;
        height: auto;
        width:50%;
        text-align: left;
        padding: 60px;
    }

    .detail__text-box p {
        font-size:0.8rem;
        line-height:1.4rem;
    }

    .detail__text-box h2 {
        margin:25px 0;
        max-width:370px;
    }

    .detail:first-child .detail__text-box a::after,.detail:last-child .detail__text-box a::after { /*TODO ARREGLAR ESTO*/
        top: -8px;
        left: 0;
        opacity:50%;
        transform: translate(-130px);
        transition: all 350ms ease-out;
    }

    .detail:first-child .detail__text-box a:hover::after,.detail:last-child .detail__text-box a:hover::after {
        opacity:100%;
        transform: translate(0px);
    }

    /* .detail__text-box a:hover::before {
        content: '';
        transition: all 350ms ease-out;
        opacity:0%;
        transform: scale(1);
    } */

    /* .detail__text-box a:hover::before {
        content: '☻';
        transition: all 350ms ease-out;
        opacity:100%;
        transform: scale(3);
    } */

    .services-container {
        display: flex;
    }

    .service {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .service__text-box {
        max-width: 350px;
        left: calc(50% - 175px);
    }

    .service__text-box p {
        font-size:0.8rem;
        line-height:1.4rem;
    }

    .testimonial-items {
        display: flex;
        flex-direction: row;
        
        max-width: 800px;
        margin: auto;
    }

    .galery-grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: none;
        height: auto;
    }

    .galery-grid__item:nth-child(1) {
        background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
    }
    
    .galery-grid__item:nth-child(2) {
        background-image: url('./images/desktop/image-gallery-orange.jpg');
    }
    
    .galery-grid__item:nth-child(3) {
        background-image: url('./images/desktop/image-gallery-cone.jpg');
    }
    
    .galery-grid__item:nth-child(4) {
        background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
    }

    .footer-container__text-box {
        max-width: 400px; 
        margin: 40px auto;
    }

}

@keyframes fade {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}